@import "variables";
#start-page {


  .slick-list{
    height: 400px;
  }

  .slick-track{
    height: 100%;
    width: auto;
  }

  .main{
    // background: white;
    background: $contentBg;
    border-top-right-radius:15px;
    border-top-left-radius: 15px;
    overflow: hidden;
  }

  .main-content > header {
    // background: aliceblue;
  }

  .main-content{
    border-right: 1px solid #ccc;
    overflow: hidden;
  }
  .news{

    img{
      position: relative;
      width: 100%;
      height: 250px;
    }
    a{
      text-decoration: none;
    }
    .thumbnail{
      background: #d7d7d7;
      overflow: hidden;
      height: 500px;
      position: relative;
      a {
        text-decoration: none;
      }
      .tag{
        position: relative;
        height: 30px;
        margin-bottom: 5px;
        overflow: hidden;
        margin-top: -5px;
        margin-left: -5px;
        color: $textColor;

        .single_tag{
          padding: 5px;
          margin-right: 2.5px;
          position: relative;
          background: #94524A;
          height: 100%;
          font-weight: bold;
          font-size: 1.1em;
          border-left: 3px solid red;
        }
      }
      .caption{
          position: relative;
          color: #000;
          z-index: 30;
          text-decoration: none;
          h3{
            text-transform: capitalize;
          }

      }
      .overlay{
        opacity: 0;
        background: rgba(darken($alternateBg, 30), 0);
        z-index: 2;
        .more{
          opacity: 1;
          margin-top: 35px;
          height: 250px;
          line-height: 250px;
          text-transform: uppercase;
          font-size: 25px;
          color: #fff;
          text-align: center;
          vertical-align: center;
          font-weight: bolder;
        }
      }
      &:hover{
        .overlay{
          opacity: 1;
          background: rgba(darken($alternateBg, 50), 0.9);
          transition: background 0.25s;
          transition: opacity 0.25s;
          -webkit-transition: background 0.25s;
          -webkit-transition: opacity 0.25s;
        }
        .caption{
          color: $textColor;
          transition: color 0.25s;
          -webkit-transition: color 0.25s;
        }
      }
    }
  }
  .sidebar{

  }

  .sidebar > header{
    // background: mintcream;
  }
  .main header>h2{
    font-weight: bolder;
    padding-left: 10px;
    padding-right: 10px;
  }
  .main header{
    margin-bottom: 10px;
  }
  .section-separator{
    margin-top: 60px;
    margin-bottom: 30px;
  }


  .media{
    margin: 0;
  }
  .media img{
    width: 48px;
    height: 48px;
  }
  .upcoming-name{
    display: block;
  }
  .overlay{
    background: #000000;
    opacity: 0.3;
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 300;
  }

  .banner{
    position: relative;
    overflow: hidden;
    /*padding-bottom: 20px;*/
  }
  .slick-dots{
    z-index: 301;
    bottom: 0 !important;
  }
  .slick-prev, .slick-next{
    z-index: 301;
    height: 40px !important;
    width: 40px !important;

  }
  .slick-prev::before, .slick-next::before{
      font-size: 40px !important;
  }
  .slick-prev{
    left:50px !important;

  }
  .slick-next{
    right:25px !important;
  }

  .slick-dots li button:before {
    font-size: 12px !important;
    -webkit-transition: all 0.1s ease;
  -moz-transition: all 0.1s ease;
  -o-transition: all 0.1s ease;
  -ms-transition: all 0.1s ease;
  }
  .slick-slider{
    margin-bottom: 0 !important;
  }
  .slick-dots li.slick-active button:before {
    color: blue !important;
    font-size: 20px !important;
    -webkit-transition: all 0.1s ease;
  -moz-transition: all 0.1s ease;
  -o-transition: all 0.1s ease;
  -ms-transition: all 0.1s ease;
  }
}
