@import "header.css";
@import "audioplayer.css";
@import "front.css";
@import "footer.css";
@import "music.css";
@import "gallery.css";
@import "main.css";

body{
  background: #efefef;
}

#app{
  margin-bottom: 50px;
  min-height: 100%;
}
